.container {
  display: flex;
  justify-content: center;
  background-color: DodgerBlue;
}

.container div {
  background-color: #534cc9;
  width: 300px;
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 30px;
}